<!-- Content. -->
<section *ngIf="!isLoading">

  <!-- Header. -->
  <app-header></app-header>

  <section class="container">

    <!-- Form. -->
    <app-form [request]="request" (cancelEditRequest)="cancelEdit($event)"></app-form>

    <!-- Requests list. -->
    <app-list (editRequest)="editRequest($event)"></app-list>

  </section>

</section>

<!-- Loader. -->
<section *ngIf="isLoading">
  <mat-progress-bar
    class="main-loader"
    color="primary"
    mode="indeterminate"
  ></mat-progress-bar>
</section>