/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1.mat-body-strong {
  font-weight: bold;
  margin: 0;
}

h2.mat-small {
  font-size: small;
  font-weight: normal;
}