@import "assets/styles/theme.scss";

form {

  display: grid;
  gap: 20px;
  grid-template-columns: auto 200px;

  div.form-actions {
    position: relative;
    button {
      background-color: mat-color($accentPalette);
      color: #fff;
      position: absolute;
      bottom: 28px;
      right: 0;
      &.mat-button-disabled {
        background-color: #ddd;
        color: #777;
      }
    }
  }

  .mat-form-field { width: 100%; }

}